.app {
  /*max-width: 850px;*/
  text-align: center;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.close {
  position: absolute;
  top: 0.5em;
}

.closeIcon {
  cursor: pointer;
}

li {
  list-style: none;
}

.add {
  position: absolute;
  top: 0.5em;
  right: 0em;
  /*left: 2em;*/
}

.headerButton {
  width: 50%;
  cursor: pointer;
}

#calculator {
  display: flex;
  flex-direction: column;
}

#sum {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menuContent {
  text-align: left;
}

.discountItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#cart-item,
#discount-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.option {
  cursor: pointer;
}

.count {
  color: grey;
}

.count:hover {
  font-size: 200%;
  color: black;
}

.editIcon {
  vertical-align: bottom;
}

#cart {
  min-height: 33em;
}
